openapi: 3.0.3
info:
  title: Mailtarget Open API
  description: Complete API reference for the Mailtarget email platform across email sending, contact management, analytics, security, and compliance.
  version: 1.0.0
  contact:
    name: Mailtarget
    url: "https://mailtarget.co"
    email: support@mailtarget.co
servers:
  - url: "https://api.mailtarget.co"
    description: Production
tags:
  - name: A/B Testing
  - name: Advanced Metrics
  - name: Alerts
  - name: Allowlist
  - name: API Keys
  - name: Automation
  - name: Batch Sending
  - name: Billing
  - name: Block List
  - name: Bounce Extras
  - name: Bounces
  - name: Campaign Actions
  - name: Campaign Analytics
  - name: Campaign Stats
  - name: Campaigns
  - name: Categories
  - name: Companies
  - name: Contact Activity
  - name: Contact Import/Export
  - name: Contacts
  - name: Custom Fields
  - name: Data Erasure
  - name: Data Privacy
  - name: Deliverability
  - name: Delivery Status
  - name: Designs
  - name: DMARC Monitoring
  - name: Domain Auth
  - name: Email Checks
  - name: Email Preview
  - name: Email Testing
  - name: Email Validation
  - name: Enforced TLS
  - name: Engagement Quality
  - name: Forms
  - name: Inbound
  - name: Inbound Classify
  - name: Inbound Domains
  - name: Inbound Settings
  - name: Inbound Webhooks
  - name: Integrations
  - name: Invalid Emails
  - name: IP Access
  - name: Labels
  - name: Link Branding
  - name: Mail Settings
  - name: Mailing Lists
  - name: Message Events
  - name: Message Logs
  - name: Messages
  - name: Quotas
  - name: Reputation
  - name: Scheduled Messages
  - name: Scopes
  - name: Segments
  - name: Send Simulations
  - name: Senders
  - name: Sending Profiles
  - name: Sending Queues
  - name: SMTP Credentials
  - name: Snippets
  - name: Spam Reports
  - name: Stats Aggregate
  - name: Status
  - name: Suppression
  - name: Teammates
  - name: Template Versions
  - name: Templates
  - name: Threads
  - name: Tracking Domains
  - name: Tracking Settings
  - name: Unsubscribe Groups
  - name: Unsubscribes
  - name: User / Account
  - name: Verified Senders
  - name: Vouchers
  - name: Warmup Progress
  - name: Webhook Security
  - name: Webhook Testing
  - name: Webhooks
paths:
  /v2/email-marketing/{id}:
    get:
      tags:
        - Campaigns
      summary: GET /v2/email-marketing/{id}
      operationId: campaigns_get__v2_email_marketing__id
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.read
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
    put:
      tags:
        - Campaigns
      summary: PUT /v2/email-marketing/{id}
      operationId: campaigns_put__v2_email_marketing__id
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.write
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
    delete:
      tags:
        - Campaigns
      summary: DELETE /v2/email-marketing/{id}
      operationId: campaigns_delete__v2_email_marketing__id
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.write
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
              example:
                message: Campaign deleted successfully
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /v2/email-marketing:
    get:
      tags:
        - Campaigns
      summary: GET email marketing.
      description: |
        List Email Marketing campaigns on the account with pagination and optional filters by status or category.

        ## Related

        - [Campaigns](/concepts/email-marketing/campaigns) for status lifecycle.
        - [Reports](/concepts/email-marketing/reports) for engagement aggregates per campaign.
      operationId: campaigns_get__v2_email_marketing
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.read
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                  meta:
                    type: object
                    properties:
                      page:
                        type: integer
                      perPage:
                        type: integer
                      total:
                        type: integer
              example:
                data: {}
                meta:
                  page: 1
                  perPage: 20
                  total: 1
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      tags:
        - Campaigns
      summary: POST email marketing.
      description: |
        Create an Email Marketing campaign as a draft. Set subject, sender, body, recipients, optional schedule, and tracking. Status starts at `draft`. Send later via `/send` or directly via `/create-send`.

        ## Related

        - [Email Marketing overview](/concepts/email-marketing) for the campaign data model.
        - [Recipients](/concepts/email-marketing/recipients) for the targeting filter shape.
        - [Sending Domains](/concepts/sending-domains) for sender verification requirements.
      operationId: campaigns_post__v2_email_marketing
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.write
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                  meta:
                    type: object
                    properties:
                      page:
                        type: integer
                      perPage:
                        type: integer
                      total:
                        type: integer
              example:
                data: {}
                meta:
                  page: 1
                  perPage: 20
                  total: 1
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: {}
            example: {}
  /v2/email-marketing/status:
    get:
      tags:
        - Campaigns
      summary: GET /v2/email-marketing/status
      description: |
        Get an account-level snapshot of campaign status counts (draft, scheduled, sending, sent, reported, cancelled). Useful for dashboards and operational alerting.

        ## Related

        - [Campaigns](/concepts/email-marketing/campaigns) for the status lifecycle.
      operationId: campaigns_get__v2_email_marketing_status
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.read
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                  meta:
                    type: object
                    properties:
                      page:
                        type: integer
                      perPage:
                        type: integer
                      total:
                        type: integer
              example:
                data: {}
                meta:
                  page: 1
                  perPage: 20
                  total: 1
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v2/email-marketing/create-send:
    post:
      tags:
        - Campaigns
      summary: POST /v2/email-marketing/create-send
      description: |
        Create and send an Email Marketing campaign in one call. The API equivalent of the dashboard Send Now button. Use this for one-shot sends without a draft step.

        ## Related

        - [Campaigns](/concepts/email-marketing/campaigns) for the create-then-send pattern alternative.
        - [Recipients](/concepts/email-marketing/recipients) for the targeting filter.
      operationId: campaigns_post__v2_email_marketing_create_send
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.write
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                  meta:
                    type: object
                    properties:
                      page:
                        type: integer
                      perPage:
                        type: integer
                      total:
                        type: integer
              example:
                data: {}
                meta:
                  page: 1
                  perPage: 20
                  total: 1
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: {}
            example: {}
  /v2/email-marketing/category:
    get:
      tags:
        - Campaigns
      summary: GET email marketing category.
      operationId: campaigns_get__v2_email_marketing_category
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.read
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                  meta:
                    type: object
                    properties:
                      page:
                        type: integer
                      perPage:
                        type: integer
                      total:
                        type: integer
              example:
                data: {}
                meta:
                  page: 1
                  perPage: 20
                  total: 1
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      tags:
        - Campaigns
      summary: Create campaign category
      operationId: campaigns_post__v2_email_marketing_category
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.write
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
              example:
                data: {}
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    put:
      tags:
        - Campaigns
      summary: Update campaign category
      operationId: campaigns_put__v2_email_marketing_category
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.write
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
              example:
                data: {}
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v2/email-marketing/delete:
    post:
      tags:
        - Campaigns
      summary: delete selected email marketing
      operationId: campaigns_post__v2_email_marketing_delete
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.write
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
              example:
                data: {}
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v2/email-marketing/list:
    get:
      tags:
        - Campaigns
      summary: get email marketing
      operationId: campaigns_get__v2_email_marketing_list
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.read
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                  meta:
                    type: object
                    properties:
                      page:
                        type: integer
                      perPage:
                        type: integer
                      total:
                        type: integer
              example:
                data: {}
                meta:
                  page: 1
                  perPage: 20
                  total: 1
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v2/email-marketing/template-data:
    get:
      tags:
        - Campaigns
      summary: get email marketing
      operationId: campaigns_get__v2_email_marketing_template_data
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.read
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                  meta:
                    type: object
                    properties:
                      page:
                        type: integer
                      perPage:
                        type: integer
                      total:
                        type: integer
              example:
                data: {}
                meta:
                  page: 1
                  perPage: 20
                  total: 1
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v2/email-marketing/upcoming-schedule:
    get:
      tags:
        - Campaigns
      summary: _v2_email-marketing_getUpcommingScheduler_GET
      operationId: campaigns_get__v2_email_marketing_upcoming_schedule
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.read
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                  meta:
                    type: object
                    properties:
                      page:
                        type: integer
                      perPage:
                        type: integer
                      total:
                        type: integer
              example:
                data: {}
                meta:
                  page: 1
                  perPage: 20
                  total: 1
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v2/email-marketing/category/add-bulk:
    post:
      tags:
        - Campaigns
      summary: Create campaign category
      operationId: campaigns_post__v2_email_marketing_category_add_bulk
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.write
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
              example:
                data: {}
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v2/email-marketing/category/delete:
    post:
      tags:
        - Campaigns
      summary: _v2_email-marketing_deleteCategories_POST
      operationId: campaigns_post__v2_email_marketing_category_delete
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.write
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
              example:
                data: {}
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v2/email-marketing/{campaignId}:
    get:
      tags:
        - Campaigns
      summary: get campaign by id
      operationId: campaigns_get__v2_email_marketing__campaignId
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.read
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                  meta:
                    type: object
                    properties:
                      page:
                        type: integer
                      perPage:
                        type: integer
                      total:
                        type: integer
              example:
                data: {}
                meta:
                  page: 1
                  perPage: 20
                  total: 1
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
    put:
      tags:
        - Campaigns
      summary: edit email marketing
      operationId: campaigns_put__v2_email_marketing__campaignId
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.write
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
              example:
                data: {}
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
  /v2/email-marketing/interactional/data:
    get:
      tags:
        - Campaigns
      summary: get read contact data
      operationId: campaigns_get__v2_email_marketing_interactional_data
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.read
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                  meta:
                    type: object
                    properties:
                      page:
                        type: integer
                      perPage:
                        type: integer
                      total:
                        type: integer
              example:
                data: {}
                meta:
                  page: 1
                  perPage: 20
                  total: 1
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v2/email-marketing/reports/export:
    get:
      tags:
        - Campaigns
      summary: report export email marketing
      operationId: campaigns_get__v2_email_marketing_reports_export
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.read
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                  meta:
                    type: object
                    properties:
                      page:
                        type: integer
                      perPage:
                        type: integer
                      total:
                        type: integer
              example:
                data: {}
                meta:
                  page: 1
                  perPage: 20
                  total: 1
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v2/email-marketing/reports/generate:
    post:
      tags:
        - Campaigns
      summary: generate report email
      operationId: campaigns_post__v2_email_marketing_reports_generate
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.write
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
              example:
                data: {}
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v2/email-marketing/reports/basic:
    get:
      tags:
        - Campaigns
      summary: GET /v2/email-marketing/reports/basic
      description: |
        Get the basic engagement report for one campaign or for an account-level rollup. Includes opens, clicks, bounces, complaints, unsubscribes as both raw counts and percentages.

        Reports continue to update for several days after `sent` status as opens and clicks come in. For frozen snapshots, export at a specific time.

        ## Related

        - [Reports](/concepts/email-marketing/reports) for metric definitions.
      operationId: campaigns_get__v2_email_marketing_reports_basic
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.read
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                  meta:
                    type: object
                    properties:
                      page:
                        type: integer
                      perPage:
                        type: integer
                      total:
                        type: integer
              example:
                data: {}
                meta:
                  page: 1
                  perPage: 20
                  total: 1
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v2/email-marketing/reports/link:
    get:
      tags:
        - Campaigns
      summary: GET /v2/email-marketing/reports/link
      description: |
        Get per-link click breakdown for one campaign. Each link in the campaign body returns total clicks, unique clicks, and click-through rate.

        Use this to identify which CTAs drive engagement and which links underperform.

        ## Related

        - [Reports](/concepts/email-marketing/reports).
        - [Components](/concepts/email-marketing/components) for the button and link components.
      operationId: campaigns_get__v2_email_marketing_reports_link
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.read
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                  meta:
                    type: object
                    properties:
                      page:
                        type: integer
                      perPage:
                        type: integer
                      total:
                        type: integer
              example:
                data: {}
                meta:
                  page: 1
                  perPage: 20
                  total: 1
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v2/email-marketing/reports/open-time:
    get:
      tags:
        - Campaigns
      summary: GET /v2/email-marketing/reports/open-time
      description: |
        Get opens distributed by hour of day for one campaign or category. Used for send-time optimization analysis.

        Read this before deciding whether to enable Send Time Optimization on future campaigns. If opens cluster at one hour, a fixed schedule at that hour is fine. If opens spread across hours, STO usually outperforms.

        ## Related

        - [Reports](/concepts/email-marketing/reports).
        - [Scheduling](/concepts/email-marketing/scheduling) for STO setup.
      operationId: campaigns_get__v2_email_marketing_reports_open_time
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.read
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                  meta:
                    type: object
                    properties:
                      page:
                        type: integer
                      perPage:
                        type: integer
                      total:
                        type: integer
              example:
                data: {}
                meta:
                  page: 1
                  perPage: 20
                  total: 1
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v2/email-marketing/reports/label:
    post:
      tags:
        - Campaigns
      summary: report email marketing by label
      operationId: campaigns_post__v2_email_marketing_reports_label
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.write
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
              example:
                data: {}
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v2/email-marketing/reports/resend-softbounce:
    post:
      tags:
        - Campaigns
      summary: resend the report if the type is SoftBounce
      operationId: campaigns_post__v2_email_marketing_reports_resend_softbounce
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.write
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
              example:
                data: {}
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v2/email-marketing/{campaignId}/cancel-schedule:
    put:
      tags:
        - Campaigns
      summary: Cancel schedule selected email
      operationId: campaigns_put__v2_email_marketing__campaignId_cancel_schedule
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.write
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
              example:
                data: {}
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
  /v2/email-marketing/{campaignId}/count-recipient:
    get:
      tags:
        - Campaigns
      summary: Get count recipient
      description: |
        Preview the number of recipients the campaign will reach at send time. Resolves the recipient filter against current Contact Book state, suppression list, and exclusion rules.

        Run this immediately before launch on volatile lists. The count drifts as contacts move in and out.

        ## Related

        - [Recipients](/concepts/email-marketing/recipients) for filter shape.
      operationId: campaigns_get__v2_email_marketing__campaignId_count_recipient
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.read
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                  meta:
                    type: object
                    properties:
                      page:
                        type: integer
                      perPage:
                        type: integer
                      total:
                        type: integer
              example:
                data: {}
                meta:
                  page: 1
                  perPage: 20
                  total: 1
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
  /v2/email-marketing/{campaignId}/duplicate:
    post:
      tags:
        - Campaigns
      summary: Duplicate selected campaign/email
      description: |
        Clone an existing campaign as a new draft. Subject, body, sender, and category copy over. Recipients and schedule reset; pick new ones before sending.

        ## Related

        - [Campaigns](/concepts/email-marketing/campaigns) for lifecycle.
      operationId: campaigns_post__v2_email_marketing__campaignId_duplicate
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.write
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
              example:
                data: {}
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
  /v2/email-marketing/{emailId}/preview:
    get:
      tags:
        - Campaigns
      summary: get preview email marketing
      description: |
        Render the campaign HTML with substitution data applied for one specific contact, without sending. Useful for QA on personalized campaigns.

        Pass `contactId` as a query parameter to render with that contact's field values.

        ## Related

        - [Personalization](/concepts/email-marketing/personalization) for substitution behavior.
        - [Campaigns](/concepts/email-marketing/campaigns) for the campaign object.
      operationId: campaigns_get__v2_email_marketing__emailId_preview
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.read
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                  meta:
                    type: object
                    properties:
                      page:
                        type: integer
                      perPage:
                        type: integer
                      total:
                        type: integer
              example:
                data: {}
                meta:
                  page: 1
                  perPage: 20
                  total: 1
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: emailId
          in: path
          required: true
          schema:
            type: string
  /v2/email-marketing/{campaignId}/send:
    post:
      tags:
        - Campaigns
      summary: Send selected email to recepients
      description: |
        Send an existing draft Email Marketing campaign. Status flips from `draft` (or `scheduled`) to `sending`, then `sent`, then `reported`.

        ## Related

        - [Scheduling](/concepts/email-marketing/scheduling) for schedule vs send-now patterns.
        - [Campaigns](/concepts/email-marketing/campaigns) for the lifecycle.
      operationId: campaigns_post__v2_email_marketing__campaignId_send
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.write
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
              example:
                data: {}
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
  /v2/email-marketing/{campaignId}/send-test-v2:
    post:
      tags:
        - Campaigns
      summary: sent test email marketing to creator only
      operationId: campaigns_post__v2_email_marketing__campaignId_send_test_v2
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.write
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
              example:
                data: {}
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
  /v2/email-marketing/reports/export/heatmap:
    get:
      tags:
        - Campaigns
      summary: GET /v2/email-marketing/reports/export/heatmap
      operationId: campaigns_get__v2_email_marketing_reports_export_heatmap
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.read
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                  meta:
                    type: object
                    properties:
                      page:
                        type: integer
                      perPage:
                        type: integer
                      total:
                        type: integer
              example:
                data: {}
                meta:
                  page: 1
                  perPage: 20
                  total: 1
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v2/email-marketing/reports/export/summary:
    get:
      tags:
        - Campaigns
      summary: GET /v2/email-marketing/reports/export/summary
      operationId: campaigns_get__v2_email_marketing_reports_export_summary
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.read
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                  meta:
                    type: object
                    properties:
                      page:
                        type: integer
                      perPage:
                        type: integer
                      total:
                        type: integer
              example:
                data: {}
                meta:
                  page: 1
                  perPage: 20
                  total: 1
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v2/email-marketing/category/set/{id}:
    post:
      tags:
        - Campaigns
      summary: Create campaign category
      operationId: campaigns_post__v2_email_marketing_category_set__id
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.write
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
              example:
                data: {}
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /v2/email-marketing/{campaignId}/{emailId}:
    put:
      tags:
        - Campaigns
      summary: edit scenario email marketing
      operationId: campaigns_put__v2_email_marketing__campaignId__emailId
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.write
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
              example:
                data: {}
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
        - name: emailId
          in: path
          required: true
          schema:
            type: string
  /v2/email-marketing/send/interactional/{id}:
    post:
      tags:
        - Campaigns
      summary: send Interactional email marketing
      operationId: campaigns_post__v2_email_marketing_send_interactional__id
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.write
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
              example:
                data: {}
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /v2/email-marketing/reports/export/{status}:
    get:
      tags:
        - Campaigns
      summary: get export recipient based on report status
      operationId: campaigns_get__v2_email_marketing_reports_export__status
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.read
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                  meta:
                    type: object
                    properties:
                      page:
                        type: integer
                      perPage:
                        type: integer
                      total:
                        type: integer
              example:
                data: {}
                meta:
                  page: 1
                  perPage: 20
                  total: 1
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: status
          in: path
          required: true
          schema:
            type: string
  /v2/email-marketing/reports/count/{status}:
    get:
      tags:
        - Campaigns
      summary: Get total count email delivered/opened/unsubscribe
      operationId: campaigns_get__v2_email_marketing_reports_count__status
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.read
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                  meta:
                    type: object
                    properties:
                      page:
                        type: integer
                      perPage:
                        type: integer
                      total:
                        type: integer
              example:
                data: {}
                meta:
                  page: 1
                  perPage: 20
                  total: 1
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: status
          in: path
          required: true
          schema:
            type: string
  /v2/email-marketing/reports/recipient/{category}:
    get:
      tags:
        - Campaigns
      summary: Get ex-recipients by category
      operationId: campaigns_get__v2_email_marketing_reports_recipient__category
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.read
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                  meta:
                    type: object
                    properties:
                      page:
                        type: integer
                      perPage:
                        type: integer
                      total:
                        type: integer
              example:
                data: {}
                meta:
                  page: 1
                  perPage: 20
                  total: 1
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: category
          in: path
          required: true
          schema:
            type: string
  /v2/email-marketing/reports/status/{status}:
    get:
      tags:
        - Campaigns
      summary: Get recipients by status
      operationId: campaigns_get__v2_email_marketing_reports_status__status
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.read
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                  meta:
                    type: object
                    properties:
                      page:
                        type: integer
                      perPage:
                        type: integer
                      total:
                        type: integer
              example:
                data: {}
                meta:
                  page: 1
                  perPage: 20
                  total: 1
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: status
          in: path
          required: true
          schema:
            type: string
  /v2/email-marketing/reports/category/{category}:
    get:
      tags:
        - Campaigns
      summary: Get ex-summary stats of browser (chart)
      operationId: campaigns_get__v2_email_marketing_reports_category__category
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.read
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                  meta:
                    type: object
                    properties:
                      page:
                        type: integer
                      perPage:
                        type: integer
                      total:
                        type: integer
              example:
                data: {}
                meta:
                  page: 1
                  perPage: 20
                  total: 1
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: category
          in: path
          required: true
          schema:
            type: string
  /v2/email-marketing/reports/label/add/{status}:
    post:
      tags:
        - Campaigns
      summary: Create new Label Contact
      operationId: campaigns_post__v2_email_marketing_reports_label_add__status
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.write
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
              example:
                data: {}
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: status
          in: path
          required: true
          schema:
            type: string
  /v2/email-marketing/reports/recipient/{category}/detail:
    get:
      tags:
        - Campaigns
      summary: Get ex-recipients by category
      operationId: campaigns_get__v2_email_marketing_reports_recipient__category_detail
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.read
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
                  meta:
                    type: object
                    properties:
                      page:
                        type: integer
                      perPage:
                        type: integer
                      total:
                        type: integer
              example:
                data: {}
                meta:
                  page: 1
                  perPage: 20
                  total: 1
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: category
          in: path
          required: true
          schema:
            type: string
  /v2/email-marketing/amp/set-form/{campaignId}/{emailId}:
    put:
      tags:
        - Campaigns
      summary: set form amp
      operationId: campaigns_put__v2_email_marketing_amp_set_form__campaignId__emailId
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.write
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
              example:
                data: {}
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
        - name: emailId
          in: path
          required: true
          schema:
            type: string
  /v2/email-marketing/amp/unset-form/{campaignId}/{emailId}:
    put:
      tags:
        - Campaigns
      summary: unset form amp
      operationId: campaigns_put__v2_email_marketing_amp_unset_form__campaignId__emailId
      security:
        - BearerAuth: []
      x-mailtarget-scope: campaigns.write
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties: {}
              example:
                data: {}
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
        - name: emailId
          in: path
          required: true
          schema:
            type: string
  /v2/contacts:
    post:
      tags:
        - Contacts
      summary: POST /v2/contacts
      operationId: contacts_post__v2_contacts
      security:
        - BearerAuth: []
      x-mailtarget-scope: contacts.write
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      _id:
                        type: string
                      email:
                        type: string
                      createdAt:
                        type: string
                      name:
                        type: string
                      firstname:
                        type: string
                      lastname:
                        type: string
                      dayOfBirth:
                        type: string
                      gender:
                        type: string
                      phone:
                        type: string
                      city:
                        type: string
                      country:
                        type: string
                      note:
                        type: string
                      company:
                        type: string
                      customPeriod:
                        type: array
                        items:
                          type: object
                      customField:
                        type: object
                        properties:
                          source:
                            type: string
                      labels:
                        type: array
                        items:
                          type: string
                      segments:
                        type: array
                        items:
                          type: string
                      index:
                        type: string
                      state:
                        type: string
                      deletedState:
                        type: string
                      tester:
                        type: boolean
                      unsubscribeReason:
                        type: string
                      unsubscribeOrigin:
                        type: string
                      funnel:
                        type: string
                      subscribeSource:
                        type: object
                        properties:
                          channel:
                            type: string
                          id:
                            type: string
                          name:
                            type: string
                      campaigns:
                        type: array
                        items:
                          type: object
                      scenarios:
                        type: array
                        items:
                          type: object
              example:
                data:
                  _id: 66167a2b4f9b72a5c2f48101
                  email: alice@example.com
                  createdAt: "2026-04-10T08:00:00Z"
                  name: Alice Tan
                  firstname: Alice
                  lastname: Tan
                  dayOfBirth: 1995-06-12
                  gender: FEMALE
                  phone: +628123456789
                  city: Jakarta
                  country: Indonesia
                  note: Lead from enterprise form
                  company: Mailtarget
                  customPeriod: []
                  customField:
                    source: landing-page
                  labels:
                    - enterprise
                    - trial
                  segments:
                    - segment-a
                  index: contacts-main
                  state: ACTIVE
                  deletedState: ACTIVE
                  tester: false
                  unsubscribeReason: ""
                  unsubscribeOrigin: ""
                  funnel: sales
                  subscribeSource:
                    channel: CONTACT_BOOK
                    id: book-001
                    name: Main Contact Book
                  campaigns: []
                  scenarios: []
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        403:
          description: Forbidden scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        429:
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                name:
                  type: string
                firstname:
                  type: string
                lastname:
                  type: string
                dayOfBirth:
                  type: string
                gender:
                  type: string
                phone:
                  type: string
                city:
                  type: string
                country:
                  type: string
                note:
                  type: string
                company:
                  type: string
                customPeriod:
                  type: array
                  items:
                    type: object
                customField:
                  type: object
                  properties:
                    source:
                      type: string
                labels:
                  type: array
                  items:
                    type: string
                segments:
                  type: array
                  items:
                    type: string
                index:
                  type: string
                state:
                  type: string
                deletedState:
                  type: string
                tester:
                  type: boolean
                unsubscribeReason:
                  type: string
                unsubscribeOrigin:
                  type: string
                funnel:
                  type: string
                subscribeSource:
                  type: object
                  properties:
                    channel:
                      type: string
                    id:
                      type: string
                    name:
                      type: string
                campaigns:
                  type: array
                  items:
                    type: object
                scenarios:
                  type: array
                  items:
                    type: object
            example:
              email: alice@example.com
              name: Alice Tan
              firstname: Alice
              lastname: Tan
              dayOfBirth: 1995-06-12
              gender: FEMALE
              phone: +628123456789
              city: Jakarta
              country: Indonesia
              note: Lead from enterprise form
              company: Mailtarget
              customPeriod: []
              customField:
                source: landing-page
              labels:
                - enterprise
                - trial
              segments:
                - segment-a
              index: contacts-main
              state: ACTIVE
              deletedState: ACTIVE
              tester: false
              unsubscribeReason: ""
              unsubscribeOrigin: ""
              funnel: sales
              subscribeSource:
                channel: CONTACT_BOOK
                id: book-001
                name: Main Contact Book
              campaigns: []
              scenarios: []
    get:
      tags:
        - Contacts
      summary: GET /v2/contacts
      operationId: contacts_get__v2_contacts
      security:
        - BearerAuth: []
      x-mailtarget-scope: contacts.read
      x-mailtarget-tier: tier2
      x-mailtarget-internal: false
      x-mailtarget-idempotency-required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        _id:
                          type: string
                        email:
                          type: string
                        createdAt:
                          type: string
                        name:
                          type: string
                        firstname:
                          type: string
                        lastname:
                          type: string
                        dayOfBirth:
                          type: string
                        gender:
                          type: string
                        phone:
                          type: string
                        city:
                          type: string
                        country:
                          type: string
                        note:
                          type: string
                        company:
                          type: string
                        customPeriod:
                          type: array
                          items:
                            type: object
                        customField:
                          type: object
                          properties:
                            source:
                              type: string
                        labels:
                          type: array
                          items:
                            type: string
                        segments:
                          type: array
                          items:
                            type: string
                        index:
                          type: string
                        state:
                          type: string
                        deletedState:
                          type: string
                        tester:
                          type: boolean
                        unsubscribeReason:
                          type: string
                        unsubscribeOrigin:
                          type: string
                        funnel:
                          type: string
                        subscribeSource:
                          type: object
                          properties:
                            channel:
                              type: string
                            id:
                              type: string
                            name:
                              type: string
                        campaigns:
                          type: array
[...]
